.regular {
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.heavy {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
