.heading {
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
  color: #121212;
  font-family: "SF Pro Display";
  font-weight: 500;
}

.description {
  font-size: 16px;
  line-height: 150%;
  color: #7D8398;
  margin-top: 4px;
}